body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Oswald', sans-serif !important;
}

main{
    background-image: url(https://previews.123rf.com/images/praewpailin/praewpailin2007/praewpailin200700125/151339761-.jpg);
    background-size: 1000px;
}

footer{
    position: absolute;
    bottom: 1000;
    width: 100%;
}