body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Oswald', sans-serif !important;
}

main{
    background-image: url(../images/backroundnuevo.webp);
    background-size: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    position: absolute;
    bottom: 1000;
    width: 100%;
}
.foto-perfil{
    border: 3px solid magenta !important;
    padding: 2px 2px 2px 2px;
    border-radius: 50%;
}
