/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* FONTS */

header nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  } 

 
  
  
  .verdeFondo{
      background-color: rgb(3, 58, 3) !important;
  }
  
  header nav ul li, 
  header a{
      color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
  } 

  



header{
    padding-top: 10px;
    color: white !important;
}
#logout{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.verdeFondo{
    background-color: rgb(3, 58, 3) !important;
}

header section{
    height: 100%;
}

header section nav{
    height: 100%;
}

header nav ul li a,
header a{
    color: white;
}

header nav ul li a:hover,
header a:hover{
    color: lightsteelblue;
    text-decoration: none;
}
#bienvenido{
    margin-left: 5px;
}

.logo{
    margin: 0px;
}

.logo a{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.logo a:hover {
    text-decoration: none;
    color: white;
}

header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header div.uk-navbar-center ul li{
    padding: 0 10px;
    border-right: 1px solid white;
}

header .uk-navbar-right a{
    margin-right: 15px;
}

header div.uk-navbar-center ul li:nth-last-child(1){
    border-right: none;
}

header nav form input, header nav form ::placeholder, header nav form span{
    color: white !important;
}

@media(max-width:400px){
    header{
        font-size: small;
        padding-bottom: 5px;
    }
    main{
        font-size: small !important;
    }
    
    header nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    
      } 
    header nav .divheader:last-child{
        width: 100%;
        margin-top: 50px;
        align-content: center;
        display: flex;
        justify-content: center;
    }
    header nav .divheader:last-child form{
        width: 100%;
    }
    #posts ul{
        width: 100% !important;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    
     
      
      
      .verdeFondo{
          background-color: rgb(3, 58, 3) !important;
      }
      
      header nav ul li, 
      header a{
          color: white;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          
      } 
    
      
}