h2, .pi {
    color: white;
    text-align: center;
}

h4 {
    color: white;
}

input { 
    width: 20%;
    padding: 2px 6px;
    box-sizing: border-box;
    border-radius: 8px;
}

button {
    background-color: white;
    padding: 2px 6px;
    cursor: pointer;

}
