.mainSearch{
    min-height: 520px;
    display: flex;
    flex-direction: column;
}
#resultadoBusqueda{
    text-align: center;
    width: 70%;
    background-color: white;
    justify-self: center;
    margin: 0 auto;
    border: 3px solid black;
}
.mainSearch img{
    padding-top: 10px;
    margin: 0 auto;

}
.mainSearch button{
    margin-top: 5px;
    width: 100%;
}
.mainU{
    min-height: 520px;
    display: flex;
    flex-direction: column;
}
.mainU img{
    width: 200px;
    padding-top: 10px;
    margin: 0 auto;
}
#posteo h2{
    background-color: black;
    padding: 5px 5px 5px 5px;
    border: solid 3px white;
}
#posteo ul{
    list-style: none;
    margin: 0 auto;
    width: 100%;
    padding-left: 0px !important;
}
#posteo ul li{
    background-color: white;
    padding: 5px 5px 5px 5px;
    border: solid 3px green;
    margin: 0 auto;
    color: black;
}
#posteo ul img{
    height: 50px;
    width: 50px;

}
#posteo ul li a{
    width: 100%;
}