<footer class="uk-background-primary uk-flex uk-flex-between uk-flex-middle" class="verdeFondo">
        <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li><a href="https://www.instagram.com/?hl=es" uk-icon="instagram"></a></li>
            <li><a href="https://es-la.facebook.com/" uk-icon="facebook"></a></li>
            <li><a href="https://twitter.com/?lang=es" uk-icon="twitter"></a></li>
        </ul>
        <ul
            class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li>Tomas Garcia Poitevin</li>
            <li>Tomas Rolandelli</li>
            <li>Teo Santilli</li>
            <li>Santiago Matheu</li>
        </ul>
</footer>