<header class="verdeFondo">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a href="/">FootBook</a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle" >
                        <li><a href="/">Home</a></li>
                        <li><a href="/usuario/registracion">Registro</a></li>
                        <li><a href="/usuario/login">Login</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <form action="/post/resultadoBusqueda" method="GET" class="uk-search uk-search-default" >
                        <span uk-search-icon></span>
                        <input type="search" class="uk-search-input" placeholder="Buscar post" name="result">
                    </form>
                </div>
                
            </nav>
        </div>
    </section>
</header>