<header class="uk-background-primary verdeFondo">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a href="/">FootBook</a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="/">Home</a></li>
                        <li><a href="/usuario/login">Logout</a></li>
                        <l1>Bienvenido <%= locals.user%></l1>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <a href="/post/agregar">Agregar post</a>
                    <a href="/usuario/mi-perfil">Mi perfil</a>
                    <form action="/post/resultadoBusqueda" class="uk-search uk-search-default"  method="GET">
                        <span uk-search-icon></span>
                        <input type="search" class="uk-search-input" placeholder="Buscar post" name="result">
                    </form>
                </div>
            </nav>
        </div>
    </section>
</header>