<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    
<body>
    <% if(locals.user != undefined){ %>
        <%- include('./partials/headerLogeado') %>
   
    <%  } else {%>
        <%- include('./partials/headerDeslogeado') %>

    <% } %>

    <main>
        <div class="formularios uk-section uk-section-small container">
                <form method="post" action="/post/new" class="pi" enctype="multipart/form-data"
                >
                    <h2 class="pad">Crea una nueva publicacion</h2>

                    <input class="form-input" type="file" name="fotopost"  class="inputformulario" 
                     placeholder="foto de post" accept="image/png">
                     
                    <h4>Escribe un descripcion...</h4>
                    <input type="text" name="pie" value="" class="inputformulario" onfocus="search()" placeholder="Escribe algo aquí..."> 
                    <br>
                    <br>
                    <button class="boton1" type="submit"> Publicar </button> 
                    

                </form>

            </div>
        </div>
    </main>
    
       <%- include('./partials/footer')  %> 

</body>

</html>