<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    
<body>
    
    <%- include('./partials/headerDeslogeado') %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-card-default">
                <form action="">
                    <h2>Agrega un post:</h2>

                    <input class="form-input" type="file" name="fotoperfil"  class="inputformulario" 
                    onfocus="search()" placeholder="foto de perfil" accept="image/png">
                    <button type="submit"> Agregar </button> 

                </form>

            </div>
        </div>
    </main>
    
       <%- include('./partials/footer')  %> 

</body>

</html>