<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    
<body>
    <% if(locals.user != undefined){ %>
        <%- include('./partials/headerLogeado') %>
   
    <%  } else {%>
        <%- include('./partials/headerDeslogeado') %>

    <% } %>

    <main>
        <div class="uk-section uk-section-small container">
                <form action="/post/new" class="pi">
                    <h2 class="pad">Agrega un post</h2>

                    <input class="form-input" type="file" name="fotoperfil"  class="inputformulario" 
                    onfocus="search()" placeholder="foto de perfil" accept="image/png">
                    <button type="submit"> Agregar </button> 
                    <h4>Pie de foto </h4>
                    <input type="text" name="buscar" value="" class="inputformulario" onfocus="search()" placeholder="Escribe algo aquí..."> 
                    <br>
                    <br>
                    <button type="submit"> Publicar </button> 

                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    

                </form>

            </div>
        </div>
    </main>
    
       <%- include('./partials/footer')  %> 

</body>

</html>