<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %> 
    
<body>
    
    <%- include('./partials/headerDeslogeado') %>


    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-margin-right uk-margin-left uk-card-default">
                <form action="">
                    <h2>login</h2>   


                    <div form action="login.ejs" method="GET"> </form>
                     
                    <input type="search" name="buscar" value="" class="inputformulario" 
                        onfocus="search()" placeholder="Nombre de usuario">
                        <button type="submit"> Enter </button> 
                        <div></div>
                        <input type="search" name="buscar" value="" class="inputformulario" 
                        onfocus="search()" placeholder="contrasena">
                        <button type="submit"> Enter </button> 
                
                
                </form>
            </div>
        </div>
    </main>

       <%- include('./partials/footer')  %> 


</body>

</html>