<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %> 
    
<body>
    
    <%- include('./partials/headerDeslogeado') %>


    <main>
        <div class="uk-section uk-section-small">
                <form action="">
                    <h2>Login</h2>   


                    <div form action="login.ejs" method="GET" class="pi"> </form>
                     
                        <h4> Nombre de usuario </h4><input type="search" name="buscar" value="" class="inputformulario" 
                        onfocus="search()" placeholder="Ej. Leomessi10">
                        <div></div>
                        <h4> Contraseña </h4><input type="search" name="buscar" value="" class="inputformulario" 
                        onfocus="search()" placeholder="contraseña">
                        <br>
                        <br>
                        <button type="submit"> Enter </button> 
                
                
                </form>
            </div>
        </div>
    </main>

       <%- include('./partials/footer')  %> 


</body>

</html>