<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %> 
    
<body>


    <% if(locals.user != undefined){ %>
        <%- include('./partials/headerLogeado') %>
   
    <%  } else {%>
        <%- include('./partials/headerDeslogeado') %>

    <% } %>


    <main>
        <div class="uk-section uk-section-small container">
                    <div class="log">
                        <h2>Login</h2>
                    </div>   

                    <div> 
                        <form action="/usuario/login" method="POST" class="pi">
                        
                        <h4> Email del usuario</h4><input type="email" name="email" value="" class="inputformulario" 
                        onfocus="search()" placeholder="Ej. Leomessi10@gmail.com">
                        <div></div>
                        <h4> Contraseña </h4><input type="password" name="password" value="" class="inputformulario" 
                        onfocus="search()" placeholder="Contraseña">
                        <br>
                        <label for="">Recordar usuario</label><input type="checkbox" name="recordame" id="">
                        <br>
                        <button type="submit"> Enter </button> 
                </form>
                </div>
        </div>
    </main>

       <%- include('./partials/footer')  %> 


</body>

</html>