<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 


<body>
    
    <%- include('./partials/headerDeslogeado') %>


    <main>
        <div class="uk-section uk-section-small">
                <h2>Si no tenes una cuenta registrate:</h2>   
                 <div form action="registracion.ejs" method="GET" class="pi"> </form> 
                    
                        <h4> Nombre de usuario: </h4><input type="search" name="buscar" value="" class="inputformulario" 
                        onfocus="search()" placeholder="Ej. Leomessi10">
                        <button type="submit"> Enter</button>                        
                        <h4> Email: </h4><input type="search" name="buscar" value="" class="inputformulario" 
                        onfocus="search()" placeholder="email">
                        <button type="submit"> Enter</button>   
                        <h4> Fecha de Nacimiento: </h4><input type="search" name="buscar" value="" class="inputformulario" 
                        onfocus="search()" placeholder="dd/mm/aa">
                        <button type="submit"> Enter </button>  
                        <h4> Nueva contraseña: </h4><input type="search" name="buscar" value="" class="inputformulario" 
                        onfocus="search()" placeholder="contrasena">
                        <button type="submit"> Enter </button> 
                        <h4>Agrega foto de perfil:</h4><input class="form-input" type="file" name="fotoperfil"  class="inputformulario" 
                        onfocus="search()" placeholder="foto de perfil" accept="image/png">
                        <button type="submit"> Agregar </button> 


            
                </form>
            </div>
        </div>
    </main>

       <%- include('./partials/footer')  %> 



</body>

</html>