<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %> 
    

<body>

    <%- include('./partials/headerDeslogeado')  %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-card-default">
               
              <h1> Resultados para <%= busqueda %> </h1>

          




            </div>
        </div>
        <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
    </main>
    

       <%- include('./partials/footer')  %> 



</body>

</html>